body{
     background-color:#f3f1ff;
     font-family: 'Poppins', sans-serif;
}
.nav{
    height: 50px;
    width: 50px;
}
.navbar-brand{
    padding-left: 19%;
}
.navbar-nav{
    padding-right: 25%;
}
.nav-pic{
    height: 50px;
    width: 50px;
}
.top-player img{
    width: 80px;
    height: 80px;
}
 h5{
     font-weight: bold;
 }   
section{
    max-width: 870px;
}
.top-player{
    background-color: white;
    margin-top: 40px;
    border-radius: 10px;
}
.blog img{
    width: 145px;
    height: 94px;
    float: left;
    padding-right: 10px;
}
h4{
    font-weight: bold;
}
h6{
    color: gray;
}
span{
    color: rgb(50, 50, 241);
}
h5{
    color: rgb(79, 79, 248);
}
.course{
    background-color: white;
    margin-top: 40px;
    border-radius: 10px;
    padding: 30px;
}
.card img{
    padding: 8px;
}
.card{
    box-shadow: 5px 5px 10px rgb(230, 214, 214);
    border: rgb(221, 205, 205);
}
.card-deck{
    padding-top: 20px;
}

small{
    color: rgb(238, 139, 139);
}
.card-body h5{
    color: black;
}
.checked {
    color: orange;
    
}
.star{
    margin-left: 10px;
    margin-bottom: 10px;
}
.fa-clock{
    margin-left: 10px;
}
.watch{
    background-color: rgb(250, 184, 184);
    border-radius: 25px;
    padding: 2px;
    margin-bottom: 10px;
    margin-left: 5px;
    height: 30px;
}